.post__create {
  width: 65%;

  &-subtitle {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;

    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px #e3e3e3, 0 0 40px #e3e3e3, 0 0 50px #e3e3e3, 0 0 60px #e3e3e3, 0 0 70px #e3e3e3;
    text-transform: uppercase;
    text-align: center;
  }

  &-form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      color: white;
      font-size: 28px;
      font-weight: 500;
    }
  }

  &-title>input {
    border-color: white;
    font-size: 20px;
    font-weight: 500;
  }

  &-text>textarea {
    color: white;
    height: 15vh;
    font-size: 20px;
    font-weight: 500;
    border-color: white;
  }

  &-btns {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      padding: 10px 20px;
      font-size: 22px;
    }
  }

  &-continue {
    width: 100%;
  }

  &-success {
    color: #11b806;
    font-weight: 20px;
    font-weight: 500;
    text-align: center;
  }
}
